
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
svg{
    width: 30px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
header .icon-cart{
    position: relative;
}
header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}
.listproduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listproduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.listproduct .item{
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 2px;
}
.listproduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listproduct .item .price{
  letter-spacing: 7px;
  font-size: small;
}
.listproduct .item button{
    background-color: #353432;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}
.cartTap{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTap{
    inset: 0 0 0 auto;
}
body.showCart .container{
    transform: translate(-250px);
}
.cartTap h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTap .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTap .btn button{
    background-color: #E8BC0E;
    border: none;
    font-family: poppin;
    font-weight: 500;
    cursor: pointer;
}
.cartTap .btn .close{
    background-color: #eee;
}
.cartTap .listCart .item img{
    width: 100%;
}
.cartTap .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
 .listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}
.listCart .quantity span:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}


